body, html {
    margin: 0;
    background-color: #636363;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: auto;
}

table, td, th {
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 6%
}

table {
    border-collapse: separate;
    width: 60%;
    background-color: #393e41;
    margin-left: auto;
    margin-right: auto;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 4px;
    font-size: 2rem;
    color: #ffffff;
}

.form {
    margin-top: 20px;
}

.header {
  margin: 0%;
  padding: 0;
}
.nav h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  background-color: #d00000;
  color: #d1d1d1;
  position:fixed;
  height: 10%;
  top:0;
  left:0;
  overflow: hidden;
}

.nav__link {
  text-decoration: none;
  color: #d1d1d1;
}

.nav__link:not(:last-of-type) {
  margin-right: 2.5rem;

}

.nav__link--active,
.nav__link:hover {
  font-weight: bold;
}