body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.nav {
  margin-bottom: 3rem;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  background-color: #130038;
  color: #d1d1d1;
}

.nav__link {
  text-decoration: none;
  color: #d1d1d1;
}

.nav__link:not(:last-of-type) {
  margin-right: 2.5rem;

}

.nav__link--active,
.nav__link:hover {
  font-weight: bold;
}