<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="veiwport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% block head %}{% endblock %}
</head>
<header class="header">
        <nav class="nav">
            <h1 style="text-align:left; margin-left: 5px">Movie Database</h1>
            <a href="/" class="nav__link">Movies Watched</a>
            <a href="/watched/" class="nav__link">Movies to watch</a>
            <a href="/add/" class="nav__link">Search for movie</a>
            <a href="{{ previous }}" class="nav__link">Go back</a>
        </nav>
</header>
<body>

    {% block body %}{% endblock %}
</body>
</html>