

{% extends 'base.html' %}

{% block head %}
<title>Movie Database</title>
{% endblock %}


{% block body %}
<div class="content">
        <table>
            <tr>
                <th>Image</th>
                <th><a href="{{ url_for(request.endpoint, **request.view_args) }}">Movie</a></th>
                <th><a href="{{ url_for(request.endpoint) }}">Release Year</a></th>
                <th><a href="{{ url_for(request.endpoint) }}">Type</a></th>
                <th>Actions</th>
            </tr>
            {% for movie in movie_list %}
                <tr>
                    <td><img src="{{ movie['Poster'] }}" width="200" height="300" alt="No image"></td>
                    <td>{{ movie["Title"] }}</td>
                    <td>{{ movie["Year"] }}</td>
                    <td>{{ movie["Type"] }}</td>
                    <td>
                        <a href="/add/add/{{movie['imdbID']}}" class="my_but_green">Add movie</a>
                        <a href="/details/{{movie['imdbID']}}" class="my_but_blue">Details</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}